// 通用設定

// 字體大小設定
@import url(https://fonts.googleapis.com/css?family=Germania+One);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
$logo-font: "'Germania One', cursive";
$normal-font: 'Microsoft JhengHei';
$date-font: "Shadows Into Light", cursive;

$font-size-1: 12px;
$font-size-2: $font-size-1 + 2px;
$font-size-3: $font-size-2 + 4px;
$font-size-4: $font-size-3 + 2px;
$font-size-5: $font-size-4 + 4px;


// 顏色設定

$font-main-color-1: #4eb3ff;
$bg-color-1: #2f2f2f;